section , footer {
    padding: 60px 0px;
}

#mainHeader {
    background: url('../img/business-finance-man-calculating-budget-numbers-invoices-financial-adviser-working_1423-119.jpg') no-repeat center red;
    background-size: cover;
    min-height: 600px;
}

#features i {
    margin-bottom: 20px;
}

#about .col-md-6 {
    padding: 0px;
}

#about div.desc {
    background: greenyellow;
    height: 300px;
}

div.incomeStatement .row {
    margin-top: 40px;
}

.col-md-9 div.incomeStatement  {
    border: 2px solid #dee2e6;
}

#about div.video iframe {
    height: 300px;
    width: 100%;
}

footer {
    background: #222;
    color: #fefefe;
    padding-bottom: 20px;
}

ul#list li {
    cursor: pointer;
    list-style-type: none;
    padding: 4px; 
    transition: padding 1s;
}

ul#list li:hover {
    background: #dcdcdc;
    padding: 4px 4px 4px 20px;
}

footer #copyRight {
    border-top: 1px solid #ccc;
    width: 60%;
    margin: auto;
    padding-top: 10px;
}